.innerPage {
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, rgb(124,107,235), rgb(251,130,126));
}


/* Navbar */
.navbar {
  display: flex;
  background-color: rgb(250, 247, 253);
  justify-content: space-between;
}

.navbarLeft,
.navbarRight {
  background-color: rgb(250, 247, 253);
  height: 70px;
  display: flex;
  align-items: center;
}

.loggOutButton, 
.accountButton, 
.sourceButton,
.leaderButton,
.tutorialButton,
.settingsButton {
  height: 100%;
  aspect-ratio: 1 / 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 7px;
  background-color: transparent;
  border: none;
  color: rgb(122,105,211);
  font-size: 30px;
  cursor: pointer;
}

.loggOutButton:hover, 
.accountButton:hover,
.sourceButton:hover,
.leaderButton:hover,
.tutorialButton:hover,
.settingsButton:hover {
  background-color: rgb(221, 214, 255);
}

.loggOutButton {
  font-size: 27px;
  padding-top: 10px;
}

.navbarOptionText {
  font-size: 12px;
  font-weight: 600;
  color: rgb(52, 37, 124);
}

.navbarScroll {
  display: none;
}


/* General modal */

.modalContent {
  background-color: rgb(250, 247, 253);
  margin: auto;
  padding: 45px 65px;
  border: 1px solid #888;
  width: 75%;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.modalTitleLine {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modalTitle {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.accountModal, 
.editAccountModal, 
.successModal,
.sourceModal,
.leaderboardModal,
.settingsModal,
.tutorialModal,
.winningModal,
.loosingModal{
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.closeAccountBtn,
.closeEditAccountBtn,
.closeSuccessBtn,
.closeLeaderboardBtn,
.closeSourceBtn,
.closeSettingsBtn,
.closeTutorialBtn,
.closeWinningBtn,
.closeLoosingBtn {
  color: rgb(122,105,211);
  font-size: 25px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  padding: 9px 11px 7px 11px;
  margin-top: -20px;
  margin-right: -20px;
  cursor: pointer;
}

.closeAccountBtn:hover,
.closeEditAccountBtn:hover,
.closeSuccessBtn:hover,
.closeLeaderboardBtn:hover,
.closeSourceBtn:hover,
.closeSettingsBtn:hover,
.closeTutorialBtn:hover,
.closeWinningBtn:hover,
.closeLoosingBtn:hover {
  color: rgb(73, 65, 127);;
}





/* Account modal*/

.accountInfo {
  font-size: 20px;
  margin: 20px 0px 0px 0px;
}

.accountInfoSpan {
  font-size: 20px;
  font-weight: 600;
}

.editAccountInfo {
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  color: rgb(73, 65, 127);
  margin-top: 35px;
  margin-bottom: 1.5px;
  cursor: pointer;
}

.editAccountInfo:hover{
  color: rgb(106, 93, 189);
}

.editAccountInfo:active{
  color: rgb(59, 51, 109);
}





/* Edit account modal*/
.accountInfoLable {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 40px;
  width: 100%;

}

.currentEmail-Password{
  font-size: 16px;
  font-weight: 600;
  color: rgb(52, 37, 124);
  margin-left: 3px;
}

.newEmail-Password{
  color: rgb(122,105,211);
  border: 1px solid rgb(96, 80, 197);
  border-radius: 3px;
  font-weight: 500;
  padding: 6px 5px 5px 10px;
  font-size: 16px;
  border-width: 1px;
  background: rgb(224, 222, 251);
  width: 100%
}

.newEmail-Password::placeholder{
  font-size:18px;
  color:rgb(111, 98, 200);
  opacity: 1;
}

.accountButtonLine{
  margin-top: 55px;
}

.setNewAccountDetails{
  padding: 4px 40px;
  font-size: 17px;
  margin-right: 80px;
  background: linear-gradient(45deg, rgb(251,130,126), rgb(124,107,235));
  border: none;
  color: white;
  border-radius: 18.75px;
  cursor: pointer;
}

.setNewAccountDetails:hover {
  background: linear-gradient(45deg, rgb(248, 112, 107), rgb(106, 86, 235));
}

.setNewAccountDetails:active {
  background: linear-gradient(45deg, rgb(251,130,126), rgb(124,107,235));
}

.secondCloseEditAccountBtn {
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
  color: rgb(59, 51, 109);
  cursor: pointer;
}

.secondCloseEditAccountBtn:hover{
  color: rgb(106, 93, 189);
}

.closeEditAccountModalBtn:active{
  color: rgb(59, 51, 109);
}





/* Success */
.confirmNewUsername {
  margin-top: 50px;
}

.successText {
  font-size: 18px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 40px;
  text-align: start;
}

.enterFirstTime {
  padding: 4px 40px;
  font-size: 17px;
  margin-right: 80px;
  background: linear-gradient(45deg, rgb(251,130,126), rgb(124,107,235));
  border: none;
  color: white;
  border-radius: 18.75px;
  transition: 
    box-shadow 150ms, 
  margin 150ms;
}

.enterFirstTime:hover {
  background: linear-gradient(45deg, rgb(248, 112, 107), rgb(106, 86, 235));
}

.enterFirstTime:active {
  background: linear-gradient(45deg, rgb(251,130,126), rgb(124,107,235));
}





/*  Leaderboard  */
.leaderboardUsersTableModal{
  margin-top: 10px;
  background: linear-gradient(-35deg, rgb(251,130,126), rgb(124,107,235));
  width: 100%;
}

.leaderboardUsers {
  display: grid;
  grid-template-columns: 45px 1fr;
  margin-bottom: 5px;
  outline: 2.5px rgb(250, 247, 253) solid;
}

.leaderboardUsersPosition,
.leaderboardUsersPositionRelative {
  color: white;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  background-color: transparent;
  font-family: "Noto Sans Mono";
  padding-left: 5px;
  outline: 5px rgb(250, 247, 253) solid;
  font-size: 20px;
}

.leaderboardUsersUsernameAndScore,
.leaderboardUsersUsernameAndScoreRelative {
  border: 1px black solid;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 10px;
  padding: 0px 8px 0px 8px;
  background-color: transparent;
  outline: 5px rgb(250, 247, 253) solid;
  font-size: 20px;
}

.leaderboardUsersUsernameAndScoreRelative{
  background-color: rgba(0,0,0,0.4);
}

.leaderboardUsersPositionRelative {
  background-color: rgba(0,0,0,0.4);
}

.fa-arrows-up-down {
  font-size: 30px;
  margin-bottom: 4px;
  background-color: rgb(250, 247, 253);
  padding: 1px 100% 2px 0px;
}

.leaderboardUsersUsername {
  color: white;
  font-family: "Noto Sans Mono";
}

.leaderboardUsersScore {
  color: white;
  font-family: "Noto Sans Mono";
}





/* Sources */
.sourceCodeArea,
.soruceInfoArea  {
  margin-bottom: 40px;
  width: 100%;
  text-align: start;
}

.sorucePictureArea {
  width: 100%;
  text-align: start;
}

.sourceTitle {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: start;
}

.sourceList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  outline: 1.5px rgb(0, 0, 0) solid;
  gap: 1.5px;
}

.soruceInfo {
  outline: 1.5px rgb(0, 0, 0) solid;
  padding: 2px 0px 3px 10px;
  font-weight: 500;
}

.soruceInfoExplanation {
  background-color: lightgray;
  font-weight: 600;
}





/* Settings */
.settingsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  text-align: start;
}

.settingsExplenation {
  padding: 0px 20px 0px 0px;
  margin-top: 20px;
  font-size: 18px;
}

.minePrecentage {
  margin-top: 20px;
  font-size: 15px;
  color: rgb(122,105,211);
  border: 1px solid rgb(96, 80, 197);
  border-radius: 3px;
  font-weight: 500;
  padding: 2px 2px 2px 8px;
  height: 30px;
  border-width: 1px;
  background: rgb(224, 222, 251);
  max-width: 400px;
  width: 100%;
  cursor: pointer;
}

.minefieldSize {
  margin-top: 20px;
  font-size: 15px;
  color: rgb(122,105,211);
  border: 1px solid rgb(96, 80, 197);
  border-radius: 3px;
  font-weight: 500;
  padding: 2px 2px 2px 8px;
  height: 30px;
  border-width: 1px;
  background: rgb(224, 222, 251);
  max-width: 400px;
  width: 100%;
  cursor: pointer;
}

.setChangesSettings {
  margin-top: 40px;
  padding: 4px 40px;
  font-size: 17px;
  margin-right: 80px;
  background: linear-gradient(45deg, rgb(251,130,126), rgb(124,107,235));
  border: none;
  color: white;
  border-radius: 18.75px;
  cursor: pointer;
}

.setChangesSettings:hover {
  background: linear-gradient(45deg, rgb(248, 112, 107), rgb(106, 86, 235));
}

.setChangesSettings:active {
  background: linear-gradient(45deg, rgb(251,130,126), rgb(124,107,235));
}


/* Tutorial */
.tutorialBox {
  margin-top: 20px;
  text-align: start;
}

.tutorialPoint {
  margin-bottom: 40px;
}

.tutorialPointParagraph {
  margin-left: 15px;
}

.tutorialPointTitle {
  font-weight: 700;
  font-size: 18px;
}

.tutorialPointList {
  margin-left: 20px;
}

.tutorialUnderline {
  text-decoration: underline;
  font-weight: 600;
  margin-top: 5px;
}





/* Winning */
.gameDetails, 
.newHighscore,
.notNewHighscore {
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 25px;
}

.newHighscore,
.notNewHighscore {
  display: none;
}

.gameWonTitle {
  font-size: 18px;
  font-weight: 600;
}

.setNewHighscore,
.tryGameAgian {
  background-color: black;
  margin-top: 40px;
  padding: 4px 40px;
  font-size: 17px;
  background: linear-gradient(45deg, rgb(251,130,126), rgb(124,107,235));
  border: none;
  color: white;
  border-radius: 18.75px;
  cursor: pointer;
}

.setNewHighscore:hover,
.tryGameAgian:hover {
  background: linear-gradient(45deg, rgb(248, 112, 107), rgb(106, 86, 235));
}

.setNewHighscore:active,
.tryGameAgian:active {
  background: linear-gradient(45deg, rgb(251,130,126), rgb(124,107,235));
}





/* Loosing */

.loosingNotNewHighscore{
  text-align: start;
}

.lossTryGameAgian {
  background-color: black;
  margin-top: 40px;
  padding: 4px 40px;
  font-size: 17px;
  background: linear-gradient(45deg, rgb(251,130,126), rgb(124,107,235));
  border: none;
  color: white;
  border-radius: 18.75px;
  cursor: pointer;
}





/* Game */
.gameContainer {
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameBackground {
  background-color: transparent;
  height: 90%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.gameTitleContainer {
  background-color: rgb(224, 222, 251);
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  margin-bottom: 10px;
}

.gameTitle {
  font-size: 40px;
}

.gameTimer {
  font-size: 40px;
  letter-spacing: 4px;
  padding: 0px 10px;
  line-height: none;
  border: solid;
  display: inline;
  font-family: "Noto Sans Mono";
}

.gameAreaContainer{
  background-color: rgb(224, 222, 251);
  display: flex;
  height: 100%;
  padding: 30px;
}

.gameButtonsContainer {
  display: flex;
  flex-direction: column;
  width: max-content;
  
}

.gameButton {
  width: 80px;
  height: 80px;
  margin: 0px 30px 30px 0px;
  font-weight: 500;
  color: rgb(1, 1, 1);
  font-size: 14px;
  background-color: lightgray;
  border: solid 1px rgb(105, 85, 209);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gameButton:hover{
  background-color: rgb(152, 152, 152);
  border-width: 2px;
}

.gameButton:active {
  background-color: lightgray;
}


.gameButton > i {
  font-size: 25px;
  color: rgb(105, 85, 209);
}

.gameButton > p {
  margin-top: 5px;
  font-size: 14px;
  color: rgb(105, 85, 209);
}

.activeGameBtn {
  background-color: lightgray;
  color: white;
  font-weight: 700;
  border: solid 3.5px rgb(105, 85, 209);
}

.activeGameBtn:hover{
  background-color: lightgray;
  border-width: 2px;
}

.activeGameBtn:active {
  background-color: lightgray;
}

.refreshGame {
  width: 80px;
  height: 80px;
  margin: 0px 0px 30px 0px;
  font-weight: 500;
  color: rgb(1, 1, 1);
  font-size: 14px;
  background-color: rgb(250, 247, 253);
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.refreshGame:hover {
  border-width: 2px;
background-color: rgb(238, 226, 250);
}

.refreshGame > i {
  font-size: 30px;
  color: rgb(105, 85, 209);
}

.refreshGame > p {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 600;
  color: rgb(105, 85, 209);
}

.gameBoardContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalDividor {
  width: 1px;
  background-color: black;
  height: 100%;
  margin: auto;
}

.horisontalDividor {
  width: 100%;
  background-color: black;
  height: 1px;
  margin: auto;
  margin-bottom: 20px;
}

